    * {
        padding: 0px;
        margin: 0px;
    }
    
    body {
        background: rgb(155, 223, 240);
    }
    
    #main {
        display: flex;
    }
    
    .content {
        width: 100%;
        flex: 2;
    }
    
    .main-para>h1 {
        margin: 20px;
        text-align: center;
        font-family: 'Balsamiq Sans', cursive;
    }
    
    .main-para>ul>li {
        margin: 5px 30px;
    }
    
    h1,
    h2 {
        font-family: 'Balsamiq Sans', cursive;
    }
    
    .sidebar {
        width: 100%;
        flex: 1;
    }
    
    .para-1 {
        flex: 1;
        margin: 0px 20px;
    }
    
    p,
    a {
        font-family: 'Tajawal', sans-serif;
    }
    
    .para-1>img {
        width: 400px;
        height: 200px;
        float: right;
        margin: 10px 20px;
        transition: 0.5s all;
    }
    
    img:hover {
        width: 470px;
        height: 230px;
    }
    
    .para-2 {
        flex: 1;
        margin: 10px 20px;
        text-align: justify;
    }
    
    .image-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .image-grid>img {
        display: flex;
        margin: 20px;
        width: 400px;
        height: 200px;
        transition: 1s all;
    }
    
    .image-grid>img:hover {
        width: 470px;
        height: 230px;
    }
    
    .para-2>ol {
        margin-left: 40px;
    }
    
    .sidebar {
        background: rgb(189, 186, 170);
    }
    
    .sidebar>.post {
        margin: 10px;
        border: 5px solid rgb(124, 173, 140);
        background: rgb(240, 195, 139);
        padding: 20px;
    }
    
    .post>h2 {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .post>a {
        /* margin-top: 40px; */
        text-decoration: none;
        transition: 1111ms;
    }
    
    .post>a:hover {
        text-decoration: underline;
        color: rgb(156, 59, 59);
    }